# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.vscode/
.tmp/
.versions/
.project
.DS_Store
*.pyc
.cache/
/.idea/
.coverage
/coverage
